.Rproj.user
.Rhistory
.RData
.Ruserdata
data

doc/VerticalArrangementsSheuTaragin.aux
doc/VerticalArrangementsSheuTaragin.bbl
doc/VerticalArrangementsSheuTaragin.synctex.gz
doc/sumtable.aux
doc/sumtable.tex.aux
