TrashData.log
TrashData.aux
NumericalSimulationsAppendix.synctex.gz
NumericalSimulationsAppendix.log
NumericalSimulationsAppendix.bbl
VerticalArrangements.bbl
VerticalArrangements.log
VerticalArrangements.spl
VerticalArrangements.synctex.gz
redline
IncreasingMarginalCostAppendix.log
IncreasingMarginalCostAppendix.synctex.gz
